.header {
	position: sticky;
	top: 0;
	display: flex;
	justify-content: space-between;
	background: linear-gradient(89deg, #5a9cc6 0%, #10396b 100%);
	border-bottom: 0.1px solid lightgoldenrodyellow;
	padding-top: 10px;
	width: 100%;
	z-index: 999;
}

.header_left {
	display: flex;
	justify-content: flex-start;
}

.header_left > img {
	object-fit: contain;
	height: 40px;
	margin-right: 10px;
}

.header_search {
	padding: 0px 10px;
	display: flex;
	align-items: center;
	border-radius: 5px;
	height: 36px;
	color: gray;
	background-color: #4eb7f8;
}

.header_search > input {
	outline: none;
	border: none;
	background: none;
}

.header_right {
	display: flex;
	justify-content: absolute;
}
