.home {
	background: linear-gradient(89deg, #5a9cc6 0%, #10396b 100%);
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
}

.home_body {
	display: flex;
	width: 100%;
	height: 100%;
}
